:root {
    position: relative;
    margin: 0px;

}

.sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    color: white;
}

.serach {
    background-color: black;
    width: 300px;
    padding: 7px 20px;
    border-radius: 12px;
}

.facilities {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.facilities>button {
    background-color: black;
    padding: 7px 7px;
    border-radius: 12px;
}

.resultTab {
    margin-top: 10px;
    border-radius: 12px;

}

.mapboxgl-ctrl-group {
    background-color: black;
}

.resultItemDiv {
    background-color: black;
    width: 300px;
    padding: 7px 20px;
    border-radius: 12px;
    border-bottom:  solid 2px transparent;
    margin-top: 2px ;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}